certifi==2019.9.11
chardet==3.0.4
channels==2.3.1
channels-redis==2.4.2
Click==7.0
configparser==4.0.2
defusedxml==0.6.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.2
django-crispy-forms==1.7.2
django-haystack==2.8.1
django-js-asset==1.1.0
django-mptt==0.9.1
django-redis-cache==3.0.0
django-toolbelt==0.0.1
django-widget-tweaks==1.4.3
et-xmlfile==1.0.1
feedparser==6.0.2
future==0.16.0
gunicorn==19.9.0
heroku==0.1.4
idna==2.7
jdcal==1.4
markdown2==2.3.6
openpyxl==2.5.5
protobuf==3.9.2
psycopg2==2.7.7
psycopg2-binary==2.8.3
public==1.0.3
pyaes==1.6.1
pycryptodome==3.7.2
pyDes==2.0.1
pyscrypt==1.6.2
python-decouple==3.1
pytz==2018.5
query-string==1.0.2
reportlab==3.5.9
requests==2.19.1
simplejson==3.16.0
six==1.12.0
Spartacus==2.59
sqlparse==0.2.4
static3==0.7.0
stockfish==1.0.4
urllib3==1.23
Werkzeug==0.14.1
whitenoise==3.3.1
Whoosh==2.7.4

