{% load staticfiles %}
<nav class="navbar navbar-inverse navbar-fixed-top navbar-light" style="background-color: orange !important;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><font size="5" color="#686868">Cheddarchess</font></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
			    <!-- bloque 1 usuarios anonimos no autorizados -->
			    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'about' %}"><font size="5" color="#686868">Acerca de</font></a></li>
                    <li><a href="{% url 'contact' %}"><font size="5" color="#686868">Contacto</font></a></li>
				{% endif %}
				
				<!-- bloque 2 usuarios autorizados -->
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'contrincante' %}"><font size="5" color="#686868">Ir a Partida</font></a></li>
      		        <li><a href="{% url 'jugar1' %}"><font size="5" color="#686868">Contra Máquina</font></a></li>
					<li><a class="navbar-brand" href="{% url 'canalAprende' %}"> <font size="5" color="#686868">Aprende</font></a></li>
					<li><a class="navbar-brand" href="{% url 'canalRSS' %}"><font size="5" color="#686868">Noticias</font></a></li>
					<li><a class="navbar-brand" href="{% url 'ranking' %}"><font size="5" color="#686868">Ranking TOP-10</font></a></li>
					<li><a class="navbar-brand" href="{% url 'enjuego' %}"><font size="5" color="#686868">En Juego</font></a></li>
				{% endif %}
            </ul>
			
			<!-- inicio nuevo bloque para login y register-->
			<ul class="nav navbar-nav navbar-right">
			{% if request.user.is_authenticated %}
				 <li><a href="{% url 'cerrar' %}"><font size="5">Cerrar Sesión</font></a></li>
			{% endif %}
			
			{% if not request.user.is_authenticated %}
			<!--<a class="navbar-brand" href="{% url 'login' %}"><font size="5" color="#686868">Entrar</font></a>-->
			<a class="navbar-brand" href="{% url 'signup' %}"><font size="5" color="#686868">Regístrate</font></a>
			{% endif %}
			</ul>
			
			<!-- usuario anónimo -->
			{% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
			<form class='navbar-form navbar-right' method='POST' action='{% url "login" %}'>{% csrf_token %}
			<div class='form-group'>
			   <input type='text' class='form-control' name='username' placeholder='nombre del usuario'/>
			</div>
			<div class='form-group'>
			   <input type='password' class='form-control' name='password' placeholder='Clave'/>
			</div>
			<button type='submit' 
			        style="color: #686868!important;background-color: orange;font-size: 24px;">Entrar</button>
				<!--<button type='submit' >Entrar</button>-->
			</form>
			{% endif %}
        </div>
    </div>
</nav>
<br>




