{% extends "base.html" %}
{% block title %} Registro de Usuarios {% endblock %}
{% block content %}
<br><br><br>
<center>
  <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">Registro de Usuarios</font>
  <hr style="background-color: blue; height: 1px; border: 0;">
</center>
<br>
<font size="5">
  <form method="post">
    {% csrf_token %}
	  <center>
	  <table>
      {% for field in form %}
	    <tr>
        <td> <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">{{ field.label_tag }}</font></td>
        <td>{{ field }}</td>
		</tr> 
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
	  </table>
	  </center>
	  <br>
	  <center><button type="submit" class="btn btn-warning btn-lg">Registrar</button></center>
  </form>
  </font>
<br><br><br>
<hr style="background-color: blue; height: 2px; border: 0;">
{% endblock %}