{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<br>
<h3>{{ title }}</h3>
<br>
<h1><p>Jugadores</p></h1>

{{ my_html|safe }}

{% for user in users %}
      <!-- previene ataques XSS -->
      <li data-username="{{ user.username|escape }}">
        {{ user.username|escape }}: {{ user.status|default:'Offline' }}
      </li>
    {% endfor %}

{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets conexión OK.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });

      if (data['is_logged_in']) {
        user.html(username + ': Online');
      }
      else {
        user.html(username + ': Offline');
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}